<!DOCTYPE html>
{% load static %}
{% load auth_extras %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Training Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <h1>Training Tracker</h1>
    {% if user.is_authenticated %}
    <div class="button-container">
        <a href="{% url 'employees:employee_list' %}" class="button button--primary button--small">Список сотрудников</a>
        <a href="{% url 'employees:department_list' %}" class="button button--primary button--small">Структурные подразделения</a>
        <a href="{% url 'employees:training_list' %}" class="button button--primary button--small">Программы обучения</a>
        <a href="{% url 'employees:position_list' %}" class="button button--primary button--small">Должности</a>
        <a href="{% url 'employees:reports' %}" class="button button--primary button--small">Отчеты по обучению</a>
        {% if user|has_group:"Moderators" %}
        <a href="{% url 'deletion_requests' %}" class="button button--primary" data-icon="deletion-requests">Запросы на удаление</a>
        {% endif %}
        <a href="{% url 'employees:password_change' %}" class="button button--primary button--small" data-icon="password-change">Смена пароля</a>
    </div>
    <div class="user-info">
        <span>Пользователь: {{ user.username }}</span>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button button--danger">Выход</button>
        </form>
    </div>
    {% else %}
    <div class="user-info">
        <a href="{% url 'login' %}" class="button button--primary">Войти</a>
    </div>
    {% endif %}
</header>
<div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>