{% extends 'base.html' %}

{% block title %}
Обучение сотрудника {{ employee }}
{% endblock %}

{% block content %}
<h1>Обучение сотрудника {{ employee.last_name }} {{ employee.first_name }}</h1>
<a href="{% url 'employees:training_record_create' %}?employee_pk={{ employee.pk }}" class="action-button">Добавить запись об обучении</a>
<a href="{% url 'employees:employee_list' %}" class="back-button">К списку сотрудников</a>
{% if training_records %}
<table>
    <tr>
        <th>Программа обучения</th>
        <th>Дата прохождения</th>
        <th>Действия</th>
    </tr>
    {% for record in training_records %}
    <tr>
        <td>{{ record.training_program }}</td>
        <td>{{ record.completion_date|date:"d.m.Y" }}</td>
        <td>
            <a href="{% url 'employees:training_record_edit' pk=record.pk %}" class="action-button">Редактировать</a>
            <a href="{% url 'employees:training_record_delete' pk=record.pk %}" class="delete-button">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Записи об обучении отсутствуют.</p>
{% endif %}
{% endblock %}