{% extends 'base.html' %}

{% block title %}
Список сотрудников
{% endblock %}

{% block content %}
<h1>Сотрудники</h1>
<a href="{% url 'employees:employee_create' %}" class="action-button">Добавить сотрудника</a>
<a href="{% url 'employees:index' %}" class="back-button">На главную</a>
{% if employees %}
<table>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата рождения</th>
        <th>Должность</th>
        <th>Подразделение</th>
        <th>Уволен</th>
        <th>В декрете</th>
        <th>Внешний совместитель</th>
        <th>Обучение</th>
        <th>Действия</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.middle_name }}</td>
        <td>{{ employee.birth_date|date:"d.m.Y" }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.is_dismissed|yesno:"Да,Нет" }}</td>
        <td>{{ employee.is_on_maternity_leave|yesno:"Да,Нет" }}</td>
        <td>{{ employee.is_external_part_time|yesno:"Да,Нет" }}</td>
        <td>
            <a href="{% url 'employees:employee_trainings' employee.pk %}" class="action-button">Просмотреть</a>
        </td>
        <td>
            <a href="{% url 'employees:employee_edit' employee.pk %}" class="action-button">Редактировать</a>
            <a href="{% url 'employees:employee_delete' employee.pk %}" class="delete-button">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Сотрудники отсутствуют.</p>
{% endif %}
{% endblock %}