{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Добро пожаловать в систему учета сотрудников и обучения</h1>
<div class="button-container">
    <a href="{% url 'employees:employee_list' %}" class="button">Список<br>сотрудников</a>
    <a href="{% url 'employees:department_list' %}" class="button">Структурные<br>подразделения</a>
    <a href="{% url 'employees:training_list' %}" class="button">Программы<br>обучения</a>
    <a href="{% url 'employees:position_list' %}" class="button">Должности</a>
</div>
{% endblock %}