{% extends 'base.html' %}
{% block content %}
<h1>Список должностей</h1>

<div class="form-group">
    <a href="{% url 'positions:position_create' %}" class="button button--success"><span class="icon">➕</span> Добавить должность</a>
</div>

<div class="filters-container">
    <form class="filter-form" method="get">
        <div class="form-group">
            <label for="is_manager" class="form-checkbox">
                <input type="checkbox" name="is_manager" id="is_manager" {% if is_manager %}checked{% endif %}>
                Только руководители
            </label>
        </div>
        <div class="form-group">
            <label for="is_teacher" class="form-checkbox">
                <input type="checkbox" name="is_teacher" id="is_teacher" {% if is_teacher %}checked{% endif %}>
                Только педагогические работники
            </label>
        </div>
        <div class="buttons-group">
            <button type="submit" class="button button--primary"><span class="icon">🔍</span> Найти</button>
            <a href="{% url 'positions:position_list' %}" class="button button--danger"><span class="icon">✖️</span> Сбросить</a>
        </div>
    </form>
</div>

<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th class="sortable">
                <a href="?sort_by=name&sort_order={% if sort_by == 'name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&is_manager={{ is_manager }}&is_teacher={{ is_teacher }}&page=1"
                   class="sort-icon {% if sort_by == 'name' %}{{ sort_order }}{% endif %}">
                    Название
                </a>
            </th>
            <th>Руководитель</th>
            <th>Педагогический работник</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.name }}</td>
            <td>{{ position.is_manager|yesno:"Да,Нет" }}</td>
            <td>{{ position.is_teacher|yesno:"Да,Нет" }}</td>
            <td class="actions">
                <a href="{% url 'positions:position_edit' position.pk %}" class="action-icon" title="Редактировать">✎</a>
                <a href="{% url 'positions:position_delete' position.pk %}" class="delete-icon" title="Удалить">✖</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Должности не найдены.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}&is_manager={{ is_manager }}&is_teacher={{ is_teacher }}">Предыдущая</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Предыдущая</span>
    </li>
    {% endif %}
    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active" aria-current="page">
        <span class="page-link">{{ num }}</span>
    </li>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item">
        <a class="page-link" href="?page={{ num }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}&is_manager={{ is_manager }}&is_teacher={{ is_teacher }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}&is_manager={{ is_manager }}&is_teacher={{ is_teacher }}">Следующая</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Следующая</span>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}