{% extends 'base.html' %}
{% block content %}
<h1>Список сотрудников</h1>
<div class="filters-container">
    <form class="filter-form" method="get">
        <div class="form-group">
            <label for="search_last_name"><span class="icon">🔍</span> Поиск по фамилии:</label>
            <input type="text" name="search_last_name" id="search_last_name" class="form-input"
                   value="{{ search_last_name|default_if_none:'' }}" placeholder="Введите фамилию">
        </div>
        <div class="buttons-group">
            <button type="submit" class="button button--primary"><span class="icon">🔍</span> Найти</button>
            <a href="{% url 'employees:employee_list' %}" class="button button--danger"><span class="icon">✖️</span> Сбросить</a>
        </div>
    </form>
</div>
<div class="form-group">
    <a href="{% url 'employees:employee_create' %}" class="button button--success"><span class="icon">➕</span> Добавить сотрудника</a>
</div>
<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th class="sortable">
                <a href="?sort_by=last_name&sort_order={% if sort_by == 'last_name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_last_name={{ search_last_name|default_if_none:'' }}"
                   class="sort-icon {% if sort_by == 'last_name' %}{{ sort_order }}{% endif %}">
                    ФИО
                </a>
            </th>
            <th>Должность</th>
            <th>Подразделение</th>
            <th>Член комиссии по ОТ</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name|default:"" }}</td>
            <td>{{ employee.position|default:"—" }}</td>
            <td>{{ employee.department|default:"—" }}</td>
            <td>{{ employee.is_safety_commission_member|yesno:"Да,Нет" }}</td>
            <td class="actions">
                <a href="{% url 'employees:employee_trainings' employee.id %}" class="training-icon" title="Обучение">📚</a>
                <a href="{% url 'employees:employee_edit' employee.id %}" class="action-icon" title="Редактировать">✎</a>
                <a href="{% url 'employees:employee_delete' employee.id %}" class="delete-icon" title="Удалить">✖</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Сотрудники не найдены.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}&search_last_name={{ search_last_name|default_if_none:'' }}">Предыдущая</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Предыдущая</span>
    </li>
    {% endif %}
    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active" aria-current="page">
        <span class="page-link">{{ num }}</span>
    </li>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item">
        <a class="page-link" href="?page={{ num }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}&search_last_name={{ search_last_name|default_if_none:'' }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}&search_last_name={{ search_last_name|default_if_none:'' }}">Следующая</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <span class="page-link">Следующая</span>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}