{% extends 'base.html' %}

{% block title %}
{{ action }} программу обучения
{% endblock %}

{% block content %}
<h1>{{ action }} программу обучения</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="messages error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
            <label for="{{ form.name.id_for_label }}"><span class="icon">📚</span> Название:</label>
            {{ form.name }}
            {% if form.name.errors %}
            <span class="field-errors">{{ form.name.errors }}</span>
            {% endif %}
        </div>
        <div class="form-group{% if form.recurrence_period.errors %} has-error{% endif %} form-tooltip">
            <label for="{{ form.recurrence_period.id_for_label }}"><span class="icon">🔄</span> Периодичность повторного обучения (годы):<span class="optional">(необязательно)</span></label>
            {{ form.recurrence_period }}
            {% if form.recurrence_period.errors %}
            <span class="field-errors">{{ form.recurrence_period.errors }}</span>
            {% endif %}
            <span class="form-text">Оставьте пустым, если повторное обучение не требуется.</span>
            <span class="tooltip-text">Укажите, через сколько лет требуется повторное обучение.</span>
        </div>
        <div class="button-group">
            <button type="submit" class="button button--primary"><span class="icon">💾</span> Сохранить</button>
            <a href="{% url 'trainings:training_list' %}" class="button button--danger"><span class="icon">✖️</span> Отмена</a>
        </div>
    </form>
</div>
{% endblock %}