{% extends 'base.html' %}

{% block title %}
{{ action }} подразделение
{% endblock %}

{% block content %}
<h1>{{ action }} подразделение</h1>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="messages error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
            <label for="{{ form.name.id_for_label }}"><span class="icon">🏢</span> Название:</label>
            {{ form.name }}
            {% if form.name.errors %}
            <span class="field-errors">{{ form.name.errors }}</span>
            {% endif %}
        </div>
        <div class="form-group{% if form.description.errors %} has-error{% endif %} form-tooltip">
            <label for="{{ form.description.id_for_label }}"><span class="icon">📝</span> Описание:<span class="optional">(необязательно)</span></label>
            {{ form.description }}
            {% if form.description.errors %}
            <span class="field-errors">{{ form.description.errors }}</span>
            {% endif %}
            <span class="tooltip-text">Добавьте краткое описание подразделения.</span>
        </div>
        <div class="button-group">
            <button type="submit" class="button button--primary"><span class="icon">💾</span> Сохранить</button>
            <a href="{% url 'departments:department_list' %}" class="button button--danger"><span class="icon">✖️</span> Отмена</a>
        </div>
    </form>
</div>
{% endblock %}